<section id="section-clients">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date Created</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for(contact of contacts; track contact.id) {
            <tr>
              <th>{{ contact.id }}</th>
              <td>{{ contact.name }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.createdAt | date:'dd/MM/yyyy hh:mm a' }}</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
</section>
